<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="connString" connectionString="kXnEtsrT9bAbTBnl07iqRmZweu18Uo/5LIabJ/qz+fqiePAq94pjGglQ9ikKG6elwXJ6hK5kkMKADQcjmw44yLVjS60BQ8vH2hs5sHXwL9I="/>-->
    <add name="connString" connectionString="Server=.;DataBase=StudentManageDB;Uid=sa;Pwd=195814"/>
  </connectionStrings>
</configuration>