<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connString" connectionString="Server=DESKTOP-DKRA2O6\SQLEXPRESS;DataBase=StudentManagerDB;Uid=sa;Pwd=195814"/>
  </connectionStrings>
</configuration>